<div class="app-header">
<div class="toolbar">

    <div class="toolbar-left">
      <button class="icon-button" aria-label="Menu">
        <i class="fas fa-bars"></i>
      </button>
      <img src="assets/images/Logo-Dashboard.png" alt="App Logo" class="logo-image" />
    </div>

    <div class="toolbar-right">
        <span class="my-request">My Request</span>
        <span class="support-ticket">Support Ticket</span>
      <button class="icon-button" aria-label="Notifications">
        <i class="fas fa-bell"></i>
      </button>
      <button class="profile-button" aria-label="Profile">
        <img src="assets/profile.jpg" alt="Profile Image" class="profile-image" />
      </button>
    </div>
  </div>
</div>