.page-container {
  display: flex;
  flex-direction: column;
  height: 96vh;



  .main-columns {
    display: flex;
    flex: 1;
    min-height: 0;

 

    .filter-contracts {
      background: #fff;
  border-right: 1px solid #ccc;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 40px;
    padding: 1rem 0.5rem;
    align-items: center;

    .filter-header h3,
    .tab-buttons,
    .search-bar,
    .advanced-search-btn,
    .results-count,
    kendo-treeview,
    .tab-main-container {
      display: none !important;
    }

    .toggle-icon {
      transform: rotate(180deg);
    }
  }

  .filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;

    .toggle-icon {
      cursor: pointer;
      font-size: 24px;
    }
  }
    

   .tab-main-container {
 
  border-radius: 8px;
  max-width: 600px;
  margin: 5px;

  .tab-container{
     background-color: #f0f0f0; // light grey box
       border-radius: 8px;
  }

  .tab-buttons {
    display: flex;
    margin-bottom: 16px;

    .tab {
      padding: 10px 13px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: xx-small;
      border-radius: 4px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #e0e0e0;
      }

      &.active {
        background-color: #fff;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        margin: 5px;
      }
    }
  }
  .search-container {
    margin-top: 1rem;

    input {
      padding: 5px 0px 5px 0px;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 40px;
    }
  }

  .tab-content {
    margin-top: 14px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #ddd;

    .filter {
  font-family: Arial, sans-serif;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;
  }

  .filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .star-icon {
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
  transition: color 0.3s;

  &.filled {
    color: #147D64; // same green as used in the rest of the UI
  }
}

  .expand-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 1.5rem;
  }

  input[type='checkbox'] {
    transform: scale(1.1);
  }
}
  }
}

    }

    .content {
      flex: 1 1 auto;
      padding: 20px;
      background-color: #fff;
      overflow: auto;
    }
  }

    .dashboard-main-content {
    flex: 1;   
    overflow-y: auto;
    background-color: #fff;
  }
}
