.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

 


  .main-columns {
    display: flex;
    flex: 1;
    min-height: 0;

 

    .filters {
      flex: 0 0 250px;
      background-color: #f9f9f9;
      box-shadow: inset -1px 0 0 #ddd;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;

      .filter-contracts{
          padding: 10px;
        border-bottom: 1px solid #ccc;
       .arrow-icon{
        float: right;
      }
    }

   .tab-main-container {
 
  border-radius: 8px;
  max-width: 600px;
  margin: 5px;

  .tab-container{
     background-color: #f0f0f0; // light grey box
       border-radius: 8px;
  }

  .tab-buttons {
    display: flex;
    margin-bottom: 16px;

    .tab {
      padding: 10px 13px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: xx-small;
      border-radius: 4px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #e0e0e0;
      }

      &.active {
        background-color: #fff;
        font-weight: bold;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        margin: 5px;
      }
    }
  }
  .search-container {
    margin-top: 1rem;

    input {
      padding: 5px 0px 5px 0px;
      width: 100%;
      max-width: 300px;
      border: 1px solid #ccc;
      border-radius: 40px;
    }
  }

  .tab-content {
    margin-top: 14px;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #ddd;

    .filter {
  font-family: Arial, sans-serif;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;
  }

  .filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .expand-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 1.5rem;
  }

  input[type='checkbox'] {
    transform: scale(1.1);
  }
}
  }
}

    }

    .content {
      flex: 1 1 auto;
      padding: 20px;
      background-color: #fff;
      overflow: auto;
    }
  }
}
