.tree-item {
  margin: 5px 0;
  padding-left: 20px;
  user-select: none;
  font-size: small;

  input[type="checkbox"] {
  color: green;
}
}


.children {
  padding-left: 15px;
  border-left: 1px solid #ccc;
  margin-top: 5px;
}

button {
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
}

.fa-star {
  margin-left: 8px;
  color: gray;
  cursor: pointer;
  width: 20%;
}

.fa-star.filled {
  color: #147D64;
}